#gdpr-checkbox{
    margin-top: 4%;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px; 
    right: 0px;
    font-size: 5rem;
}

.bg-red{
    background: red;
}

.bg-yellow{
    background: #ffc200;
}

.bg-green{
    background: green;
}

.card-body-icon{
    margin-left: 20px;
    right: 20px;
    top: -20px;
}
.btn-delete{
    color:#fff;
    background-color:red;
    border-color:red;
}
.btn-delete:hover{
    background-color:red;
    border-color:red;
}
/*
.study-time{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 30px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  border:4px solid green;    
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
}
*/